# SI 618: Data Manipulation and Analysis
## 02 - Introduction to pandas
### Dr. Chris Teplovs, School of Information, University of Michigan
<small><a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a>This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.


## Objectives:
* Know how to manipulate Series and DataFrame
* Draw a random sample of data
* Select subset of data using boolean masking
* Compute descriptive and summary statistics
* Discretize continuous variables
* Sort Series/DataFrame by index or column
* Group data and calculate aggregate statistics
* Use vectorized string methods
* Make basic plots (scatter plot, histogram, bar chart, etc)

## Submission Instructions:
Please turn in this Jupyter notebook file (both .ipynb and .html formats) on Canvas before you leave the classroom. Try to get through as much as you can.

### IMPORTANT: Replace ```?``` in the following code with your uniqname.

In [ ]:
MY_UNIQNAME = '?'

## Preface
This lab consists of Part 0, Part 1 and Part 2. Part 0 is an introduction to some Pandas basics. There are no points assocaited with Part 0 but we will be covering it in class. Part 1 is based on a survey dataset and Part 2 uses movies and cast data. We will guide you through Part 1, and let you work on Part 2 on your own. 

**Questions 1-12 are worth 1 point each.  Questions 13-22 are worth 2 points each.**

## Part 0: Background

![](assets/02.002.png)

![](assets/02.003.png)

![](assets/02.004.png)

* less looping over elements
* lots of built-in functionality
* a "paradigm shift"

![](assets/02.005.png)

![](assets/02.006.png)

![](assets/02.007.png)

![](assets/02.008.png)

![](assets/02.009.png)

![](assets/02.010.png)

![](assets/02.011.png)

# Data structures

We're all familiar with lists:

In [ ]:
names = ["Charlotte", "Ingrid", "Ian", "Eric"]
scores = [80, 95, 85, 70]

Now let's say that we wanted to divide each of those scores by two and assign the results to another variable. Go ahead and write some code that does that... There are lots of ways to do this, so go ahead and write one way to do it (without importing any additional python packages) and assign the results to a 
variable called ```half```:

In [ ]:
half = []
for score in scores:
    half_score = score / 2
    half.append(half_score)

In [ ]:
half

If you followed the above instructions, the following cell block should print
a list of floats that looks like ```
[40.0, 47.5, 42.5, 35.0]```

In [ ]:
half

We can put data into an array structure that allows us to apply more powerful
functions.  The data structure that we're interested in is called an ```ndarray``` and is from the ```numpy``` package:

In [ ]:
import numpy as np
ascores = np.array(scores)

In [ ]:
ascores

In [ ]:
ahalf = ascores / 2

In [ ]:
ahalf

Numpy arrays are powerful, but they have some limitations:  they can only 
consist of one type of data (e.g. int), etc.  pandas provides two additional
data structures that are built on numpy ndarrays.

The first are Series.  Let's create a simple pandas Series and examine it:

In [ ]:
import pandas as pd

In [ ]:
from pandas import Series

In [ ]:
sscores = Series(scores,name='scores')

In [ ]:
sscores

So you see a couple of useful things: an index (0 to 3) and a data type (dtype), which in this case is an int64.

**A Series is a one-dimensional ndarray with axis labels**

In [ ]:
data = dict(zip(names,scores))

In [ ]:
zip(names,scores)

In [ ]:
data

In [ ]:
import pandas as pd

In [ ]:
data

In [ ]:
sData = Series(data=data,name='score')

In [ ]:
sData

So Series are a bit friendlier than numpy arrays, but they're still only one-dimensional.  Keep in mind that our basic data abstraction is a table, which can
be thought of as a two-dimensional array.  Let's go ahead and create a simple DataFrame with just one column:

In [ ]:
from pandas import DataFrame

In [ ]:
pd.DataFrame(scores,index=names,columns=['score'])

Let's return to the code we ran last time and walk though it just to make sure we understand it

In [ ]:
df_names = pd.read_csv('data/names.csv')

Actually, that CSV file was created from a number of smaller CSV files.  Here's
the code that will load the set of smaller CSV files:

In [ ]:
years = range(1880, 2015)
pieces = []
for year in years:
    path = 'data/names/yob%d.csv' % year
    frame = pd.read_csv(path)
    frame['year'] = year
    pieces.append(frame)
df_names = pd.concat(pieces, ignore_index=True)

In [ ]:
df_names.head()

Let's discuss what just happened there.

# Part 1 (as a group): Mental Health Disorders In the Tech Workplace
From https://www.kaggle.com/osmi/mental-health-in-tech-survey

## Data Description

This dataset is from a 2014 survey that measures attitudes towards mental health and frequency of mental health disorders in the tech workplace.

## Metadata

**Timestamp**

**Age**

**Gender**

**Country**

**state**: If you live in the United States, which state or territory do you live in?

**self_employed**: Are you self-employed?

**family_history**: Do you have a family history of mental illness?

**treatment**: Have you sought treatment for a mental health condition?

**work_interfere**: If you have a mental health condition, do you feel that it interferes with your work?

**no_employees**: How many employees does your company or organization have?

**remote_work**: Do you work remotely (outside of an office) at least 50% of the time?

**tech_company**: Is your employer primarily a tech company/organization?

**benefits**: Does your employer provide mental health benefits?

**care_options**: Do you know the options for mental health care your employer provides?

**wellness_program**: Has your employer ever discussed mental health as part of an employee wellness program?

**seek_help**: Does your employer provide resources to learn more about mental health issues and how to seek help?

**anonymity**: Is your anonymity protected if you choose to take advantage of mental health or substance abuse treatment resources?

**leave**: How easy is it for you to take medical leave for a mental health condition?

**mental_health_consequence**: Do you think that discussing a mental health issue with your employer would have negative consequences?

**phys_health_consequence**: Do you think that discussing a physical health issue with your employer would have negative consequences?

**coworkers**: Would you be willing to discuss a mental health issue with your coworkers?

**supervisor**: Would you be willing to discuss a mental health issue with your direct supervisor(s)?

**mental_health_interview**: Would you bring up a mental health issue with a potential employer in an interview?

**phys_health_interview**: Would you bring up a physical health issue with a potential employer in an interview?

**mental_vs_physical**: Do you feel that your employer takes mental health as seriously as physical health?

**obs_consequence**: Have you heard of or observed negative consequences for coworkers with mental health conditions in your workplace?

**comments**: Any additional notes or comments

Let's load the usual libraries and also ask for plots to be rendered inside the notebook:

In [ ]:
import numpy as np
import pandas as pd
%matplotlib inline

Then read the CSV file into a DataFrame:

In [ ]:
df = pd.read_csv("data/survey.csv")

It's common to look at the resulting DataFrame using .head()

In [ ]:
df.head()

If you want to look at a random sample, you can use .sample()

In [ ]:
df.sample(5)

Finally, you can get some basic information about the size and shape of the DataFrame:

In [ ]:
print("The number of rows of the dataset is: ", len(df))
print("The number of columns of the dataset is: ", len(df.columns))
print("The shape of the dataset is: ", df.shape)

You can list the columns:

In [ ]:
df.columns

And you can extract one or more columns.  The following pair of 
commands do exactly the same thing:

In [ ]:
print(df['Country'])

In [ ]:
country_state = df[['Country','state']]
country_state.head()

## Extracting rows

In [ ]:
df.iloc[0]

In [ ]:
df.loc[0]

In [ ]:
df_gender = df.set_index('Gender')

In [ ]:
df_gender.loc['Male']

In [ ]:
df.iloc['Gender'] # generates error

In [ ]:
df.iloc[0]

## Sorting
You can use either sort_values() or sort_index():

In [ ]:
df_sorted = df.sort_values('Age')
df_sorted.head(10)

## Filtering using Boolean Masking

In [ ]:
df.Age

In [ ]:
df['Age'] > 0

In [ ]:
df[df['Age'] > 0]

In [ ]:
df['Age'] > 40

In [ ]:
df[  df['Age'] > 40  ]

### Example: Find people with family history of mental health conditions. </font>

Solution:

In [ ]:
family_history_mask = df.family_history=='Yes'
df[family_history_mask].tail(5)

You can use a simple expression like ```df[df['family_history'] == 'Yes']``` or you can make more complex boolean expressions using parentheses:

In [ ]:
df_filtered = df[(df['family_history'] == 'Yes') & (df['treatment'] == 'Yes')]
df_filtered.head()

### <font color="red">Q1: How many people are willing to discuss a mental health issue with their supervisor or their coworkers? </font>

In [ ]:
len(df[(df.coworkers=='Yes') | (df.supervisor=='Yes')])

### <font color="red">Q2: Make a new DataFrame ```df_millenials``` with only millennials (born between 1976 and 1996). Make appropriate assumptions when constructing your filter. </font>

In [ ]:
df_millenials = df[(df.Age<=2014-1976) & (df.Age>=2014-1996)]

**NOTE: We will still use df for the following analysis**

## Descriptive and Summary Statistics

Example: What is the mean age of the survey sample?

Solution:

In [ ]:
df['Age'].mean()

### Does that look right?  What should we do?

### <font color="red">Q3: What is the _median_ age of the survey sample?  </font>

In [ ]:
df['Age'].median()

### <font color="red">Q4: Write one line of code to compute basic statistics (mean, standard deviation, min, 25% percentile, etc) about Age  </font>

Hint: see the readings

In [ ]:
df["Age"].describe()

In [ ]:
df.describe()

## Unique Values, Counts, Membership

Example: Write one line of code to check unique values of Gender</font>

Solution:

In [ ]:
df.coworkers.unique()

In [ ]:
df.Gender.unique()

Example: Write one line of code to count the occurrences of the countries and show the top 5 countries.  </font>

Solution:

In [ ]:
df.Country.value_counts().head(5)

Are you sure that's correct?

### <font color="red">Q5: Find the unique categories of no_employees. What is the frequency of each category? </font>

In [ ]:
print(df.no_employees.unique())
print(df.no_employees.value_counts())

### <font color="red">Q6: How many Michiganders aged between 20 and 30 sought treatment for a mental health condition? How many did not? </font>
Show your code and also include a markdown block with a complete sentence or two that answers these questions.

In [ ]:
df[(df.Age >= 20) & (df.Age <=30) & (df.state == 'MI')]['treatment'].value_counts()

Replace this with you answer

### <font color="red">Q7: Among the people from United States, how many repondents were there from each state?  </font>

In [ ]:
df[df.Country=='United States']['state'].value_counts()

## Basic Plots

Example: Investigate the proportion (%) of people receiving health benefits from their employers.

Solution:

In [ ]:
df.benefits.value_counts(normalize=True).plot.bar()

Example: Create a histogram of the distribution of Age values:

In [ ]:
df.Age.value_counts().plot.hist()

### <font color="red">Q8: Experiment with the number of bins in the histogram of the Age distribution:</font>

Hint: use the bins= option to plot()

In [ ]:
# insert your code here

## Discretization and Binning
Discretization of continuous variables can potentially enhance the goodness-of-fit of a statistical model. Age, for example, is a common varaible to be categorized.

### <font color="red">Q9: </font> Discretize the age into bins (16,21], (21,25], (25,30], (30, 35], (35,40], (40,50], (50,60], (60,).  

How many respondents are in each range? 
Hint: create a list of bin values
Hint: use pd.cut()
Hint: use value_counts()

In [ ]:
bins = [15,20,25,30,35,40,50,60,200]

In [ ]:
df['Age_group'] = pd.cut(df.Age, bins)

In [ ]:
df['Age_group']

In [ ]:
df['Age_group'].value_counts()

## Aggregation

Example: Find the size of each Age group.

Solution:

In [ ]:
df.groupby('Age_group').size()

### <font color="red">Q10: Find the median age of each state. </font>

In [ ]:
df.groupby(['state'])['Age'].median().sort_values(ascending=False)

# Part 2 (on your own): Exploration of Movie Titles and Movie Cast

## Time to load some data:

In [ ]:
titles = pd.read_csv('data/titles.csv', index_col=None)

The titles DataFrame contains a list of movie titles and release year

In [ ]:
cast = pd.read_csv('data/cast.zip', index_col=None)

The ```cast``` DataFrame contains the following columns 

**title** = name of movie

**year** = year of movie

**name** = name of actor/actress

**type** = actor or actress

**character** = character name

**n** = number in the credits (NaN when not available)

In [ ]:
titles.head()

In [ ]:
cast.sample(5)

### Q11: How many entries are there in the cast table?

In [ ]:
len(cast)

In [ ]:
cast.count()

### Q12: How many entries are there in the titles table?

In [ ]:
len(titles)

## Some basic analyses

### Q13: What are the two earliest movies?

In [ ]:
titles.sort_values('year').head(2)

### Q14: How many movies have the title "Hamlet"?

In [ ]:
len(titles[titles.title == 'Hamlet'])

### Q15: List all of the "Treasure Island" movies from earliest to most recent

In [ ]:
treasureIslandMask = titles.title == 'Treasure Island'
treasureIslandDF = titles[treasureIslandMask]
sortedTreasureIsland = treasureIslandDF.sort_values('year')
sortedTreasureIsland

one line version

In [ ]:
titles[titles.title == 'Treasure Island'].sort_values('year')

### Q16: List the supporting roles (having n=2) played by Cary Grant in the 1940s,
in order by year.

In [ ]:
#(cast.year >= 1940) & (cast.year < 1950)
#(cast.year == 1940) | (cast.year == 1941)... 
# cast.year // 10 == 194

c = cast
c = c[c.name == 'Cary Grant']
c = c[c.year // 10 == 194]
c = c[c.n == 2]
c = c.sort_values('year')
c

c[(c.name == 'Cary Grant') & (c.year // 10 == 194)& (c.n == 2)].sort_values('year')

### Q17: What are the ten most common movie names of all time?

In [ ]:
titles.title.value_counts().head(10)

### Q18: Plot the number of "Hamlet" films made each decade

Make sure your decades are in chronological order on the x-axis

In [ ]:
t = titles
t = t[t.title == 'Hamlet']

(t.year // 10 * 10).value_counts().sort_index().plot(kind='bar')

### Q19: Who are the 10 people most often credited as "Herself" in film history?

In [ ]:
c = cast
c[c.character == 'Herself'].name.value_counts().head(10)

### Q20: What are the 10 most frequent roles that start with the word "Science"?
Hint: read docs on str.startswith()

In [ ]:
c = cast
c = c[c.character.str.startswith('Science')]
c.character.value_counts().head(10)

### Q21: How many leading (n=1) roles were available to actors, and how many to actresses, in the 1950s?

In [ ]:
c = cast
c = c[c.year // 10 == 195]
c = c[c.n == 1]
c.type.value_counts()

### Q22: How many supporting (n=2) roles were available to actors,and how many to actresses, in the 1950s?

In [ ]:
c = cast
c = c[c.year // 10 == 195]
c = c[c.n == 2]
c.type.value_counts()